<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NEOPROJECT_CODE</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HospitalDataEntryServlet</display-name>
		<servlet-name>HospitalDataEntryServlet</servlet-name>
		<servlet-class>
		com.itouchsquare.HospitalDataEntryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PatientServlet</display-name>
		<servlet-name>PatientServlet</servlet-name>
		<servlet-class>
		com.itouchsquare.PatientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StaffServlet</display-name>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>
		com.itouchsquare.StaffServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.itouchsquare.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Search_Simple</display-name>
		<servlet-name>Search_Simple</servlet-name>
		<servlet-class>
		com.itouchsquare.Search_Simple</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReportServlet</display-name>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>
		com.itouchsquare.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HospitalDataEntryServlet</servlet-name>
		<url-pattern>/HospitalDataEntryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientServlet</servlet-name>
		<url-pattern>/PatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/StaffServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search_Simple</servlet-name>
		<url-pattern>/Search_Simple</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.x.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
